#my_video{
    z-index: -1;
    position: fixed;
    padding: 0px;
    margin: 0px;
    right: 0px;
    top: 0px;
    left: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: inherit;
    font-family: 'Raleway', sans-serif;
}


body {
    background: rgba(192, 55, 55, 0.74);
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    font-family: 'raleway';
    padding: 20px;
    border-radius: 10px;

}



h1,
p {
    text-align: center;
    margin: auto;
}

label {
    display: block;
    margin: 1em 0 .2em;
}

/* single-line text, checkbox, and button */
input,
select,
textarea {
    display: block;
    width: 100%;
    padding: .3em;
    font-size: 20px;
    background-color: #fbfbfb;
    border: solid 1px #CCC;
    resize: vertical;
    border-radius: 10px;
}

input[type="email"],
input[type="tel"] {
    margin-bottom: 1em;
}

textarea {
    min-height: 180px;
}

select {
    color: indigo;
}

option {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

input[type=checkbox],
input[type=radio] {
    display: inline;
    width: auto;
}

.inline-label {
    display: inline;
    width: auto;

}

input[type=submit],
input[type=reset] {
    background: rgb(27, 44, 141);
    margin: 1em 0 0;
    color: white;
    border: none;
    border-radius: 8px;
    transition: all .3s ease-out;


}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

input[type=text]:focus{
   background-color: pink;
}

input[type=submit]:hover{
    background-color: red;
    
}


input[type=reset]:hover{
    background-color: green;
}

p::first-letter,h1::first-letter{
    color: red;
    font-size: 30px;
}